@import "~./_common.scss";  


/*
 pc.css
 * */

body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
li,
dl,
dt,
dd,
p,
span,
strong,
input,
select,
textarea {
	margin: 0;
	padding: 0;
}

* {
	outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-size:inherit; 
	font-weight:normal; 
}
input[type=radio],
input[type=checkbox],
a {
	cursor: pointer;
}

a {
	text-decoration: none;
	background: transparent;
	color: inherit;
	font-size: inherit
}

a img {
	border: 0 none;
}

.box img {
	vertical-align: bottom;
	width: 100%;
}

ul {
	list-style: none;
}

a,
button,
input[type=checkbox],
input[type=radio] {
	cursor: pointer;
}

html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

audio,
canvas,
progress,
video,
.row {
	display: inline-block;
	vertical-align: baseline;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

.row {
	clear: both;
	width: 100%;
}

*:after {
	content: '';
	clear: both;
	height: 0;
}


/*font*/
.normal {
	font-weight: normal;
}

.bold {
	font-weight: 500;
}
.font-sm{
		font-size: .22rem;
	}
.font-white {
	color: #fff;
}

.font-blue {
	color: #2e75b6;
}

.font-red {
	color: #f66;
}

.font-orange {
	color: #ff9600;
}


/*container*/

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.img-box img {
	display: block;
	margin: 0 auto;
}
.block{
	display: block;
}
strong{
	font-weight: 500;
}
@font-face { 
  font-family: mz;       /*这里是说明调用来的字体名字*/ 
  src: url('mz.ttf');   /*这里是字体文件路径*/ 
}
/*page*/
body{
	//font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;
	font-family:mz,Arial, Helvetica, sans-serif;
	//background: #333;
	font-size:size(30,rem);
	color: #2ab564;

}
figure{
	margin:0;
}

html,body,
.page{
	width:100%;
	height:100%;
}
img[data-src]{
	opacity: 0
}
.xy{
	animation-name: xy;
	animation-duration: 5s;
	animation-timing-function: linear;
}
@keyframes xy{
0%,100%{
	transform: translate3d(0,0,0) scale(1);
}
50%{
	transform: translate3d(5%,5%,0) scale(.9);
}
}

//内容宽
$p02w:size(555,rem);
.swiper-slide{
	position: relative;
	background-size:cover;
	background-repeat:no-repeat;  
	background-color:#fff; 
	background-image: url('../images/bg1.jpg');
	transition: all .3s linear;
	//opacity: 0;
	&::before{
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		width: 100%;
		height: size(183,rem);
		background-size:cover;
		background-repeat:no-repeat;
		background-image:url(../images/bg_b.png);   
		opacity: .3;
	}
	&>p,&>.title,&>.box,&>.container{
		margin: auto;
	}
	.container{
		width: $p02w;
	}
	.box-center{
		width: size(540,rem);
	}
	>.xy{
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image:url("../images/mask.png");
		background-size:cover;
		background-position: top center;
		background-repeat:no-repeat;
	}
	.title{
		margin-top: size(45,rem);
		font-size: size(60,rem); 
		text-align: center;
		h5{
		font-size: size(60,rem); 			
		}
		strong{
			font-size:size(80,rem); 
		}
	}
	&.swiper-slide-active{
		
		.animated{
			//animation-fill-mode:forwards;//保存在最后一帧
			//animation-play-state:running;
		}
	}
	[data-animate]{
		//position: relative;
		//z-index: 1;
		opacity: 0;
	}


}
.box a{
	display: inline-block;
}
//动画无限循环
.loop{
	animation-iteration-count:infinite;
}
@for $i from 1 to 20{
	.delay#{$i}{
		animation-delay:.3*$i+s; 
	}
} 
//icon list
.list{
	li{
		i,span,a{
			display: inline-block;
			vertical-align: middle;
		}
		span,a{
			width: size(400,rem);
		}
		i{
			width:size(65,rem);
			height: size(65,rem);
			background-size:size(65,rem);
			background-position:left top;  
			background-repeat:no-repeat;
			margin-right: size(20,rem);
		}
	}
	
}
.page01{
	//background-image: url('../img/page01.jpg');
	.p01-2{
		margin-top: size(93,rem);
	}
	.p01-3 {
		margin-top: size(45,rem);
		font-size: size(40,rem);
	}
	.goto{
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;
		margin: auto;
		width: size(40,rem);
		display: inline-block;
		span{
			transform: rotate(90deg);
			display: block;
			width: 100%;
			height: size(40,rem);
			background-image:url(../images/jt.png);
			background-size:100%;
			background-repeat:no-repeat;
			&+span{
				margin-top: size(-20,rem);
			}   
		}
	}
}
//about
.page02,.page03,.page04,.page05,.page06,.page07,.page08{
	 .title{margin-bottom:size(44,rem); }
}
.page02{
	//background-image: url('../images/page02.jpg');
	.p02-3{
		margin-top:size(44,rem); 
	}
}
//展现形式
.page03{

	.p03-3{
		height: size(246,rem);
		background-image:url(../images/c3.png);
		background-size:100%;
		background-repeat:no-button; 
		li{
			line-height: 1;
			padding-top: size(11,rem);
			width: size(200,rem);
			&:nth-of-type(odd){
				text-align: right;
				margin-left:size(140,rem); 
			}	
			&:nth-of-type(even){
				text-align: left;
				margin-left:size(387,rem);
			}
		}  
	}
	.box{
		margin-bottom: .24rem;
		h3{
			margin-top: .1rem;
			font-size:.32rem;
		}
	}
}
.page04{
	.p04-2{
		margin-bottom: size(60,rem);
	}
}
.page05{
	.p05-3{
		margin-top: size(57,rem);
		width: size(378,rem);
	}
}
//后续服务
.page06{
	.p06-2{
		margin-bottom: size(37,rem);
		i{
			
			margin-bottom:size(10,rem); 
		}
		li{	
			@for $i from 1 to 6{
				&:nth-of-type(#{$i}) i{
					background-image:url('../images/c6_#{$i}.png'); 
				} 
			}
		}
		
	}
	.p06-3{
		font-size: 0;
		img{
			display: inline-block;
			width: 50%;
		}
		margin-bottom: size(30,rem);
	}
	
}

.page07{
	background-image:url(../images/bg2.jpg); 
	
}

.page08{
	[data-animate]{
		//animation-delay:-8s;
		animation-duration:2s; 
	}
	li{
		margin-bottom: size(50,rem);
		@for $i from 1 to 5{
			&:nth-of-type(#{$i}) i{
				background-image:url('../images/c8_#{$i}.png'); 
			}
		}

	}
	.img{
		width: size(224,rem); margin: auto;
	}
	
}
.mask{
	position:fixed;
	left: 100%;
	top:0;
	width: 100%;
	height: 100%;
	background-color:#fff ;
	z-index: 999;
	transform: translateX(-100%);
	transition:all .3s linear;
	& > ul{
		position: absolute;
		left: 0;
		right: 0;
		top:50%;
		transform: translateY(-50%);
		width: 30px;
		height: 40px;
		margin: auto;
		&>li{
			float: left;
			height:100%;
			width: 20%;
			background-color:#71C142;
			margin-right:13%;
			transform-origin: center bottom ; 
			animation: scaleY .8s linear infinite;
			@for $i from 1 to 4{
				&:nth-of-type(#{$i}){
					animation-delay: -.3*$i+s;
				}
			
			}
			
		}
	}
	&[data-loading=true]{
		opacity: 0;
		transform: translateX(0%);
		pointer-events: none;
	}
}
@keyframes scaleY{
	0%,100%{
		transform: scaleY(1)
	}
	50%{
		transform: scaleY(.3)
	}
}
